# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
ENV/
env/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local env & secrets (DON'T COMMIT!)
.env
app/.env
*.local.env
values.local.yaml

# Node (if ever used)
node_modules/
.env
app/.env
values.local.yaml
